#main_logo
{
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}

h3
{

    clear: both;
}

#arelease
{
    font-size: 14px;
    font-weight: normal;
}

#console_img
{
    float: right;
    margin: 10px;
}